* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
}

.container {
  width: 1200px;
  margin: auto;
}

.header_top {
  background-color: #0282f9;
  color: white;
}

.header_top .container {
  justify-content: flex-end;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.header_nav {
  padding: 2rem;
}

.header_nav .row {
  align-items: center;
}

.header_nav .row ul {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 0 3rem;
}

.header_nav .row ul a {
  color: #1c1c1c;
  font-weight: 700;
  text-transform: uppercase;
}

.header_nav .row .search {
  width: 125px;
  border-bottom: 2px solid #0282f9;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.header_jumbo {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  width: 100%;
  aspect-ratio: 4.5/1;
  background-size: cover;
  background-repeat: no-repeat;
}

main .container .fumetti {
  flex-wrap: wrap;
  margin: 3rem 0;
  row-gap: 3rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

main .container .fumetti .col {
  width: calc(16.6666666667% - 1rem + 0.1666666667rem);
}

main .container .fumetti .col .image {
  width: 100%;
}

main .container .fumetti .col .image img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

